# <center>Taller de análisis de datos usando Python </center>
<br/> 
 <br/>
**Kevin Martinez-Folgar, MD.** <br><kmartinezfolgar@gmail.com> <br><br>
**Sebastian Oliva**<br> <yo@sebastianoliva.com> 
<hr/>

# <center> Manipulando datos con Pandas</center>
<hr/>

### Abriendo la base de datos con pandas

Primero, vamos a abrir la base de datos e importarla en pandas, utilizamos una opcion de la libreria TKINTER para abrir la base de datos

In [ ]:
from tkinter import filedialog as fd # para encontrar nuestra base de datos

In [ ]:
Direccion_De_Base_De_Datos = fd.askopenfilename()
#Direccion_De_Base_De_Datos = ""
Direccion_De_Base_De_Datos

Ahora que ya tenemos la direcciòn de nuestra base de datos en una variable vamos a importar pandas y abrir el archivo de excel

In [ ]:
import pandas as pd

In [ ]:
BaseDeDatos = pd.read_excel(Direccion_De_Base_De_Datos)

Vamos a explorar un poco nuestra base de datos

In [ ]:
BaseDeDatos.head()

Si se dan cuenta tuvimos suerte en el momento de importar nuestros datos, pues Pandas se encarga de adecuarlos, sin embargo recuerden todas la opciones que pueden usar para importar su base de datos en Pandas

In [ ]:
pd.read_excel?

pd.read_excel(io, sheetname=0, header=0, skiprows=None, skip_footer=0, index_col=None, names=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, dtype=None, true_values=None, false_values=None, engine=None, squeeze=False, **kwds

### Veamos el tamaño de nuestra base de datos

In [ ]:
BaseDeDatos.shape

Ok, tenemos 18 columnas y 7964 filas, osea 18 variables y 7965 "accidentes"

### Veamos las primeras 10 filas de nuestra base de datos

In [ ]:
BaseDeDatos.head(10)

### Veamos las últimas 10 filas de nuestra base de datos

In [ ]:
BaseDeDatos.tail(10)

### Veamos el formato en el que estan nuestras variables

In [ ]:
BaseDeDatos.info()

Esta es una base de datos bastante limpia, por lo que todas las variables fueron importadas como numeros enteros, no tenemos texto 
sin embargo no todas las variables son de caracteristicas continuas, hay variables como el municipio o el area de ocurrencia que son variables categoricas, motivo por el cual tenemos que transformarlas

Vamos a revisar cada una de las variables empecemos por `núm_corre`

In [ ]:
BaseDeDatos["núm_corre"]

Parecen ser números de correlativos, verifiquemos utilizando estadisticas descriptivas.

In [ ]:
BaseDeDatos["núm_corre"].describe()

Ok, segun nuestro index, tenemos 7963 casos y segun el describe tenemos 7964, si recordamos que en Python los conteos empiezan en 0 concluimos que tenemos numeros de 1 en 1, por lo que podemos definir esto como nuestro ID (index)

In [ ]:
BaseDeDatos.index

In [ ]:
BaseDeDatos.index = BaseDeDatos["núm_corre"]

In [ ]:
BaseDeDatos.head()

In [ ]:
BaseDeDatos.drop("núm_corre", 1)

In [ ]:
BaseDeDatos.head()

In [ ]:
BaseDeDatos.drop("núm_corre", axis=1, inplace=True)
BaseDeDatos.head()

###  Columnas (Variables)

In [ ]:
## BaseDeDatos["mes_ocu"]
## BaseDeDatos.mes_ocu

In [ ]:
BaseDeDatos.describe()

## Quitando los "missings"

In [ ]:
# %load sol/load.py
BaseDeDatos = pd.read_excel(Direccion_De_Base_De_Datos)
BaseDeDatos.index = BaseDeDatos["núm_corre"]
BaseDeDatos.drop("núm_corre", axis=1, inplace=True)
BaseDeDatos.head()
pd.datetime(año_ocu)

In [ ]:
import numpy as np

BaseDeDatos["zona_ocu"].replace(to_replace=99, value=np.nan, inplace=True)
BaseDeDatos["tipo_veh"].replace(to_replace=99, value=np.nan, inplace=True)
BaseDeDatos["marca_veh"].replace(to_replace=999, value=np.nan, inplace=True)
BaseDeDatos["color_veh"].replace(to_replace=99, value=np.nan, inplace=True)
BaseDeDatos["modelo_veh"].replace(to_replace=9999, value=np.nan, inplace=True)
BaseDeDatos["tipo_eve"].replace(to_replace=99, value=np.nan, inplace=True)

In [ ]:
BaseDeDatos.describe()

In [ ]:
BaseDeDatos.info()

Bien que ya clasificamos los missings, vamos a cambiar las siguientes variables como `categorias`

##Forma Larga 
""""""
BaseDeDatos["mupio_ocu"] = pd.Categorical(BaseDeDatos["mupio_ocu"])
BaseDeDatos["depto_ocu"] = pd.Categorical(BaseDeDatos["depto_ocu"])
BaseDeDatos["área_geo_ocu"] = pd.Categorical(BaseDeDatos["área_geo_ocu"])
BaseDeDatos["zona_ocu"] = pd.Categorical(BaseDeDatos["zona_ocu"])
BaseDeDatos["tipo_veh"] = pd.Categorical(BaseDeDatos["tipo_veh"])
BaseDeDatos["marca_veh"] = pd.Categorical(BaseDeDatos["mupio_ocu"])
""""""

Pero lo podemos solucionar con un loop.

In [ ]:
## Creamos nuestra lista de variables que vamos a cambiar. 
categoricas = ["mupio_ocu", "depto_ocu", "área_geo_ocu", "zona_ocu", "tipo_veh", "marca_veh", "color_veh", "tipo_eve", "g_hora", "g_hora_5", "g_modelo_veh"]
## y utilizamos nuestra lista dentro de un loop
for variables in categoricas:
    BaseDeDatos[variables] = pd.Categorical(BaseDeDatos[variables])

In [ ]:
BaseDeDatos.info()

### a.	Crear Nuevas columnas

In [ ]:
BaseDeDatos.nueva_columna = 1900

In [ ]:
BaseDeDatos.head()

In [ ]:
BaseDeDatos.nueva_columna

In [ ]:
BaseDeDatos["Nueva Columna"] = "INCAP"

In [ ]:
%matplotlib inline

In [ ]:
BaseDeDatos.Nueva Columna

In [ ]:
BaseDeDatos["Nueva_Columna"] = np.nan

In [ ]:
BaseDeDatos.head()

In [ ]:
BaseDeDatos.Nueva_Columna

### b.	Renombrar columnas

In [ ]:
BaseDeDatos.rename(columns={'Nueva Columna':'Valor 1'}, inplace=True)
BaseDeDatos.rename(columns={'Nueva_Columna':'Valor 2'}, inplace=True)

In [ ]:
BaseDeDatos.head()

In [ ]:
BaseDeDatos.rename(columns={"Valor 1":"Columna 1", "Valor 2":"Columna 2"}, inplace=True)

In [ ]:
BaseDeDatos.head()

### Filas (Observaciones)

In [ ]:
BaseDeDatos.iloc[5]

In [ ]:
BaseDeDatos.loc[5]

### Eliminar observaciones

In [ ]:
## Vamos a crear una copia de la base de datos para asegurarnos de no dañar la base original
BaseDeDatos2 = BaseDeDatos.copy()

In [ ]:
BaseDeDatos2.drop(5, axis=0, inplace=True)

b.	Etiquetar variables categóricas

## Tarea para la siguiente clase!

**Ejercicio No. 1** Codificar variables categóricas

Supongamos que estas aprendiendo Python por tu propia cuenta, y necesitas codificar unas variables que tienes en formato texto a valores numericos, ósea el proceso de "codificación",

¿Comó lo buscarias en Google?

¿Crees que encontraste la respuesta? , Ok convierte los meses  de la base de datos a texto utilizando un diccionario y luego codificalas, deja tu codigo para poder verlo

**Ejercicio No. 2** Utilizar el comando Group By

Utilizando el comando GROUP BY ("https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html") y value_counts, hagan una tabla de frecuencias de accidentes por departamento (depto_ocu)

***Ejercicio No. 3*** Tablas de Variables Cruzadas

Utilizando el comando CROSSTAB (pd.crosstab) ("https://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html"), realicen una tabla cruzada entre dia de la semana en que ocurrio el evento y el tipo de evento

***Ejercicio No. 4*** Segmentar bases de datos

Utilizando una mascara (BasedeDatos[BaseDeDatos["var"]== X]) donde var es la variable y X es el valor, creen una base de datos de accidentes solo del municipio de guatemala

*** Ejercicio No. 5*** Unir bases de datos (Merge/Join)

Dentro de la carpeta `data` esta la base de datos del año 2015  une las base de datos utilizando Merge o Join (psst: revisa la diferencia entre merge o join)
y guarda la base de datos que lograste unir como un archivo de Excel (utilzando ExcelWriter, "https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html")